* {
    box-sizing: border-box;
}


.container {
    width: 50%;
    margin: 0 auto;
}


header {
    padding-top: 20px;
}

  h2 {
    padding: 8px;
}

.navi {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & i {
        font-size: 24px;
    }

    & .fa-utensils {
        font-size: 25px;
        background-color: #333232;
        padding: 50%;
    }
}

.logo {
    display: flex;
    width: 25px;
    align-items: center;
    

}

.Delicious {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Brush Script MT', cursive;
  
  
}
 .sub-div {
    display: flex;
    flex-direction: column;
   
}
.social_icons {
    color: rgb(87, 87, 87);
}


.strip {
    background-image: linear-gradient(45deg,
            #ffffff 28.57%,
            #e0e0e0 28.57%,
            #e0e0e0 50%,
            #ffffff 50%,
            #ffffff 78.57%,
            #e0e0e0 78.57%,
            #e0e0e0 100%);
    background-size: 9.9px 9.9px;
}
 .italc {
    white-space: nowrap
}
h3 {
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    letter-spacing: -3px;
    margin-bottom: 0;
}

.div {
    display: flex;
    justify-content: space-between;
    margin: 1% ;
}

.text_over {
    font-family: 'Pathway Gothic One', sans-serif;            
    color: rgb(119, 146, 110);
    font-size: 20px;
    
}

img {
    width: 100%;
}

.para1 {
    font-size: larger;
    font-family: 'Crimson Text', serif;
    color: gray;
}

.Form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    box-shadow: 0px 1px 10px 0px grey;
    margin: 0;
    padding-left: 8%;
    background-image: url(WhatsApp\ Image\ 2023-06-22\ at\ 21.55.03.jpg);

   

}

td label {
    font-family: patrick hand, cursive;
    color: rgba(128, 128, 128, 0.785);
    line-height: 35px;
}

.hr {
    margin-top: -80px;
    width: 45%;
    display: inline-block;
}

.vanessa {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & img {
        border-radius: 50%;
    
    }
}

.button {
    color: rgb(255, 255, 255);
    background-color: #f6773d;
    font-family: 'Pathway Gothic One', sans-serif;
    border-radius: 30px;
    font-size: 30px;
    padding: 12px;
    border: 0;
    width: 14vw;
    margin-bottom: 4%;
}


a{
    color: gray;
}
.main-sub-div {
    display: flex;
}
.footer{
    text-align: center;
    color: rgba(0, 0, 0, 0.651);
    margin-top: 10px;
    margin-right: 4%;
    & span{
        display: block;
    }
}

